<html>
    <body>
        <form action= "/candles" method= "POST">
            How many Candles do you want?
            <input type="text" nmae="count" placeholder="Number of Candles">
            <input type= "submit" value="go">
        </form>
    </body>
</html>